TOKEN_SECRET="this-is-a-secret-value-with-at-least-32-characters"
MONGODB_URI="mongodb://root:root_password@localhost:27017/"
BASE_URL="http://localhost:3000"

EMAIL_VERIFICATION_SECRET="this-is-a-secret-value-with-at-least-32-characters"
EMAIL_FROM="noreply@example.example"
EMAIL_USER="noreply@example.example"
EMAIL_PASSWORD="password"
EMAIL_HOST="password"